---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { DotLottieReact } from "@lottiefiles/dotlottie-react";
import { Image } from "astro:assets";
import FoodStorage from "@/img/food-manager-cover.jpg";
import SupabaseLogo from "@/img/supabase-logo.jpg";
import Waves from "@/components/Waves.astro";
import CrazyLine from "@/components/CrazyLine.astro";
import FoodManagerCarousel from "@/components/FoodManagerCarousel";
---

<Layout title="Food Manager">
    <section class="mt-16 grid-flares-bg bg-cover">
        <div class="container mx-auto grid-lines-bg">
            <div class="flex flex-col lg:grid grid-cols-3 gap-10">
                <div class="col-span-2">
                    <h1 class="text-7xl font-bold mb-10 font-dotgothic16">
                        Food Manager
                    </h1>
                    <p>
                        The Food Storage Control and Record ensures the
                        freshness and safety of stored food, thereby preventing
                        expiration and ensuring efficient rotation.
                    </p>
                    <p>Print lists directly from the app or export to PDF.</p>
                </div>
                <DotLottieReact
                    src={`${import.meta.env.BASE_URL}img/food.lottie`}
                    autoplay
                    client:visible
                    className="aspect-square"
                />
            </div>
        </div>
    </section>
    <section class="pb-24">
        <CrazyLine />
        <div class="container mx-auto">
            <div class="grid grid-cols-3 gap-10">
                <Image
                    src={FoodStorage}
                    alt="Food Storage sample"
                    class="h-full w-full object-cover aspect-square"
                />
                <div class="col-span-2">
                    <h2 class="text-5xl font-bold mb-10">The Problem</h2>
                    <p>
                        The process of keeping a paper record for food storage
                        is complex and inefficient. With the constant need to
                        print new records and the difficulty of making
                        annotations effectively, paper does not provide clear
                        indicators of products nearing expiration nor does it
                        organize items properly.
                    </p>
                    <p>
                        This required periodic manual reviews, increasing the
                        likelihood that some records would go unnoticed or be
                        overlooked, which could result in food loss and
                        compromise the quality and safety of the inventory.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <Waves wavesOpacity={[0.5, 0.7, 0.9]} />
    <section class="py-10 bg-sky-950">
        <div class="container mx-auto">
            <div class="grid grid-cols-2">
                <div>
                    <h2 class="text-5xl font-bold mb-10">Architecture</h2>
                    <p>
                        To solve the problem, a simple application was developed
                        to record stored items with their identification code,
                        description, expiration date, and notes.
                    </p>
                    <p>
                        <b>SUPABASE</b> was chosen to eliminate the need to build
                        a backend and configure a database, as the data to be managed
                        is minimal and any lightweight option is sufficient. Additionally,
                        since multiple teams need to share the information, a local
                        database cannot be used.
                    </p>
                    <!-- <Image
                        src={SupabaseLogo}
                        alt="Supabase logo"
                        class="w-1/2 my-4"
                    /> -->
                    <p>
                        It was developed using React Native. Supabase provides a
                        client for React Native, making data integration simple
                        and quick.
                    </p>
                </div>
                <div class="mx-auto">
                    <FoodManagerCarousel client:visible />
                </div>
            </div>
        </div>
    </section>
</Layout>
