---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { Button } from "@/components/ui/button";

---

<Layout title="Jose Concha - Full Stack Developer">
	<main>
	</main>
</Layout>

<style></style>
