<div class="overflow-clip">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 725.14 274.73"
        class="absolute left-0 top-72 -z-20 opacity-5 w-full h-full"
    >
        <path
            class="cls-1"
            d="m720.58,23.94s-170.3,132.47-170.3,132.47c-5.59,5.11-14.26,4.72-19.37-.87-1.55-1.7-2.6-3.7-3.14-5.79,0,0,0,0,0-.01-.87-1.92-1.2-4.12-.82-6.36l14.76-86.76-142.08,201.05c-3.32,4.7-9.82,5.82-14.52,2.5-.28-.2-.55-.41-.8-.64-1.02-.6-1.94-1.41-2.7-2.42L214.21,34.12l-139.01,236.97c-1.25,2.13-3.38,3.44-5.65,3.74h-1.97c-.99-.13-1.98-.46-2.89-1-1.83-1.07-3.05-2.79-3.55-4.69h0c-.7-1.16-.97-2.58-.66-4l26.62-121.47L7.77,239.8c-1.54,1.87-4.3,2.14-6.17.59-1.05-.87-1.6-2.13-1.6-3.39,0-.98.33-1.97,1-2.78l90.79-110.03c.19-.22.39-.43.61-.6,1.28-1.26,3.15-1.87,5.04-1.46,2.96.64,4.83,3.57,4.18,6.53l-23.46,107.02L208.07,14.24c2.15-3.66,6.85-4.89,10.51-2.74.06.04.13.08.19.12h.01c1.63.6,3.1,1.66,4.22,3.15l166.25,221.47L550.9,7.49s.04-.08.07-.11c2.3-3.59,6.6-5.64,11.07-4.88h0c5.98,1.01,9.99,6.68,8.98,12.65l-17.74,104.29L702.08,3.69c2.35-2.14,4.87-3.26,7.34-3.59h3.2c10.07,1.31,17.82,14.76,7.96,23.84Z"
        ></path>
    </svg>
</div>
<style>
	.cls-1 {
		stroke: #fff;
		stroke-width: 26px;
		stroke-linejoin: round;
		stroke-linecap: round;
	}
</style>


<script>
	let paths = document.querySelectorAll<SVGPathElement>(".cls-1");
	function animatePath() {
		let scrollPercentage =
			0.15 +
			(document.documentElement.scrollTop + document.body.scrollTop) /
				(document.documentElement.scrollHeight -
					document.documentElement.clientHeight);
		for (var i = 0; i < paths.length; i++) {
			let path = paths[i];

			let pathLength = path.getTotalLength();

			path.style.strokeDasharray = pathLength.toString();
			path.style.strokeDashoffset = pathLength.toString();

			let drawLength = pathLength * scrollPercentage;

			path.style.strokeDashoffset = (pathLength - drawLength).toString();
		}
	}
	animatePath();
	document.addEventListener("scroll", () => {
		animatePath();
	});
</script>
