---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { DotLottieReact } from "@lottiefiles/dotlottie-react";
import { Image } from "astro:assets";
import FoodStorage from "@/img/food-manager-cover.jpg";
import SupabaseLogo from "@/img/supabase-logo.jpg";
import Waves from "@/components/Waves.astro";
import CrazyLine from "@/components/CrazyLine.astro";
import FoodManagerCarousel from "@/components/FoodManagerCarousel";
---

<Layout title="Food Manager">
    <section class="mt-16 grid-flares-bg bg-cover">
        <div class="container mx-auto grid-lines-bg">
            <div class="flex flex-col lg:grid grid-cols-3 gap-10">
                <div class="col-span-2">
                    <h1 class="text-7xl font-bold mb-10 font-dotgothic16">
                        Food Manager
                    </h1>
                    <p>
                        El Control y Registro de Almacenamiento de Alimentos
                        garantiza la frescura y seguridad de los alimentos
                        almacenados, evitando así su caducidad y asegurando una
                        rotación eficiente
                    </p>
                    <p>
                        Imprime listados directamente desde la App o exporta a
                        PDF
                    </p>
                </div>
                <DotLottieReact
                    src="/portfolio/img/food.lottie"
                    autoplay
                    client:visible
                    className="aspect-square"
                />
            </div>
        </div>
    </section>
    <section class="pb-24">
        <CrazyLine />
        <div class="container mx-auto">
            <div class="grid grid-cols-3 gap-10">
                <Image
                    src={FoodStorage}
                    alt="Food Storage sample"
                    class="h-full w-full object-cover aspect-square"
                />
                <div class="col-span-2">
                    <h2 class="text-5xl font-bold mb-10">El Problema</h2>
                    <p>
                        El proceso de llevar un registro en papel para el
                        almacenamiento de alimentos resulta complejo y poco
                        eficiente. Con la necesidad constante de imprimir nuevos
                        registros y la dificultad de hacer anotaciones de manera
                        eficaz, el papel no proporciona indicadores claros sobre
                        los productos próximos a vencer ni tampoco organizaba
                        los ítems de manera adecuada
                    </p>
                    <p>
                        Esto implicaba la realización de revisiones manuales
                        periódicas, aumentando la posibilidad de que algunos
                        registros pasaran desapercibidos o no fueran
                        considerados, lo que podía resultar en la pérdida de
                        alimentos y comprometer la calidad y seguridad del
                        inventario
                    </p>
                </div>
            </div>
        </div>
    </section>
    <Waves wavesOpacity={[0.5, 0.7, 0.9]} />
    <section class="py-10 bg-sky-950">
        <div class="container mx-auto">
            <div class="grid grid-cols-2">
                <div>
                    <h2 class="text-5xl font-bold mb-10">La Arquitectura</h2>
                    <p>
                        Para resolver el problema, se desarrolló una aplicación
                        sencilla para registrar los ítems almacenados con su
                        código de identificación, descripción, fecha de
                        vencimiento y notas.
                    </p>
                    <p>
                        Se escogio utilizar <b>SUPABASE</b> para eliminar la necesidad
                        de tener que construir un Backend y una configurar una base
                        de datos, los datos a manejar son minimos y cualquier opcion
                        liviana es suficiente. Por otro lado es necesario que varios
                        equipos compartan la informacion por lo tanto no se puede
                        utilizar una base de datos local
                    </p>
                    <!-- <Image
                        src={SupabaseLogo}
                        alt="Supabase logo"
                        class="w-1/2 my-4"
                    /> -->
                    <p>
                        Se desarrollo utilizando React Native, Supabase
                        proporciona un cliente para React Native por lo tanto la
                        integracion de datos fue sencilla y rapida
                    </p>
                </div>
                <div class="mx-auto">
                    <FoodManagerCarousel client:visible />
                </div>
            </div>
        </div>
    </section>
</Layout>
