---
import NavBar from "@/components/NavBar";
import "@/styles/globals.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<!-- ShadCN modifica el tailwind.config.mjs y es necesario usar class dark --><!-- Aunque esto nos permite manejarlo manualmente y no depender de color-scheme -->
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-slate-950 dark:text-slate-100 font-noto">
		<div class="border-b p-2">
			<div class="container mx-auto">
				<div class="flex justify-between">
					<div class="flex gap-4 items-center">
						<img src="logo.svg" class="max-h-[40px]" />
						<span class="font-black text-2xl text-logo">JoseM</span>
					</div>
					<NavBar client:load />
				</div>
			</div>
		</div>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "NotoSansMono";
		src: url("/fonts/NotoSansMono-VariableFont_wdth,wght.ttf")
			format("truetype");
		font-weight: 100 900;
		font-stretch: 50% 200%;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "DotGothic16";
		src: url("/fonts/DotGothic16-Regular.ttf") format("truetype");
		font-style: normal;
		font-display: swap;
	}
	html {
		font-size: 18px;
	}
	.font-noto {
		font-family: NotoSansMono;
	}
	.font-dotgothic16 {
		font-family: DotGothic16;
	}
	.text-logo {
		background: #6de8ff;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.chonky-underline-magenta::after {
		transition: all 0.1s ease-in-out;
		content: "";
		position: absolute;
		bottom: 7.5%;
		z-index: -1;
		height: 0.3em;
		width: 104%;
		left: -1%;
		background: linear-gradient(
			65deg,
			#df058d 0%,
			#df058d 100%,
			rgba(255, 209, 0, 0) 100%
		);
	}
	.chonky-underline-blue::after {
		transition: all 0.1s ease-in-out;
		content: "";
		position: absolute;
		bottom: 7.5%;
		z-index: -1;
		height: 0.3em;
		width: 104%;
		left: -1%;
		background: linear-gradient(
			65deg,
			#2c49d8 0%,
			#2c49d8 100%,
			rgba(255, 209, 0, 0) 100%
		);
	}
	.chonky-underline-orange::after {
		transition: all 0.1s ease-in-out;
		content: "";
		position: absolute;
		bottom: 7.5%;
		z-index: -1;
		height: 0.3em;
		width: 104%;
		left: -1%;
		background: linear-gradient(
			65deg,
			#ff6b2b 0%,
			#ff6b2b 100%,
			rgba(255, 209, 0, 0) 100%
		);
	}
</style>
