---
import Layout from "@/layouts/Layout.astro";
import Waves from "@/components/Waves.astro";
import { DotLottiePlayer } from "@dotlottie/react-player";
import { Image } from "astro:assets";
import ScppArch from "@/img/scpp-arch.png";
import ScppCover from "@/img/scpp-cover-transparent.png";
import ScppPhoneShowcase from "@/img/scpp-phone-showcase.png";
import CrazyLine from "@/components/CrazyLine.astro";
---

<Layout title="Sistema de Presupuestos Personales">
    <section class="py-16 relative">
        <div class="absolute top-48 left-96 w-96 h-full bg-center bg-no-repeat -z-10" style="background: url(/img/dotgrid.png);"></div>
        <div class="container mx-auto">
            <div class="flex flex-col md:grid grid-cols-2">
                <div>
                    <h1 class="text-7xl font-bold mb-10 font-dotgothic16">
                        SCPP
                    </h1>
                    <p>
                        Sistema de Control de Presupuesto Personal. Con su
                        aplicación para Android y su versión de escritorio para
                        Windows, SCPP te ofrece la flexibilidad para registrar
                        tus gastos, ingresos y ahorros en cualquier momento y
                        desde cualquier lugar.
                    </p>
                </div>
                <div>
                    <video src="/video/scpp.mp4" autoplay muted></video>
                </div>
            </div>
        </div>
    </section>
    <CrazyLine />
    <section class="py-6">
        <div class="container mx-auto">
            <div class="flex flex-col-reverse md:grid grid-cols-3">
                <DotLottiePlayer
                    src="/portfolio/img/money-2.lottie"
                    autoplay
                    client:visible
                    className="max-w-72 self-center"
                />
                <div class="col-span-2">
                    <h2 class="text-5xl font-bold mb-10">El Problema</h2>
                    <p>
                        SCPP, abreviatura de Sistema de Presupuestos Personales,
                        surgió de la necesidad de contar con una solución
                        sencilla para controlar los gastos de manera eficiente.
                        Es una herramienta simple y actualizada para un registro
                        preciso de las finanzas personales.
                    </p>
                    <p>
                        Aunque existen muchas aplicaciones en el mercado,
                        ninguna cumplía con los requisitos específicos buscados
                        debido a su complejidad o suscripciones costosas. Por
                        eso, creé una opción personalizada para la gestión de
                        mis finanzas.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-16">
        <div class="container mx-auto">
            <div class="flex flex-col md:grid grid-cols-3 gap-10">
                <div class="col-span-2">
                    <h2 class="text-5xl font-bold mb-10">La Arquitectura</h2>
                    <p>
                        La arquitectura de SCPP se basa en una API en Node.js,
                        un microservicio que facilita el acceso a la base de
                        datos MySQL.
                    </p>
                    <p>
                        SCPP cuenta con una aplicación móvil para Android
                        desarrollada en React Native. Permite visualizar,
                        agregar y editar información de gastos, ofrece gráficos
                        financieros y funciones de búsqueda por categoría o
                        palabras clave, brindando una experiencia completa para
                        el seguimiento financiero personal.
                    </p>
                    <p>
                        La plataforma también ofrece una aplicación de
                        escritorio en C# con WinUI3 que replica las funciones de
                        la versión móvil y agrega interacción con gráficos y
                        visualización detallada. Proporciona una experiencia
                        completa para análisis y gestión financiera, permitiendo
                        a los usuarios hacer un seguimiento a traves de la
                        computadora.
                    </p>
                </div>
                <Image src={ScppArch} alt="" class="self-center" />
            </div>
        </div>
    </section>
    <Waves wavesOpacity={[0.5, 0.7, 0.9]} />
    <section class="bg-sky-950 py-10">
        <div class="container mx-auto">
            <div class="lg:w-3/4">
                <h2 class="text-5xl font-bold mb-10">La Evolución</h2>
                <p>
                    La aplicación ha evolucionado notablemente desde su versión
                    anterior. Se reescribió por completo utilizando la ultima
                    version de React Native y de acuerdo a la experiencia previa se
                    optimizo el diseño.
                </p>
                <p>
                    Esta actualización permitió agregar nuevas funcionalidades y
                    mejorar el rendimiento y mejoró la experiencia de desarrollo.
                    Como resultado, la aplicación es más rápida y eficiente,
                    brindando una mejor experiencia al usuario en todas las áreas.
                </p>
                <p>
                    Con el tiempo, surgió la necesidad de almacenar copias de
                    documentos importantes, como registros de mantenimiento del
                    vehículo, de manera más eficiente. Esto incluía la posibilidad
                    de adjuntar fotos para registrar visualmente cada mantenimiento,
                    eliminando la dependencia de notas manuscritas o archivos de
                    Excel dispersos. En respuesta, se implementó una sección
                    especial en SCPP que permite a los usuarios subir fotos con
                    fecha y descripción. Esto simplifica la gestión de documentos al
                    centralizarlos, facilitando su consulta y brindando una solución
                    integral para el seguimiento y registro de actividades
                    relevantes.
                </p>
            </div>
            <div class="flex flex-col gap-10 justify-around lg:flex-row mt-10">
                <Image src={ScppCover} alt="" class="lg:max-w-[50%] h-full object-contain" />
                <Image src={ScppPhoneShowcase} alt="" class="lg:max-w-[25%] h-full object-contain" />
            </div>
        </div>

    </section>
</Layout>
